<form action="/supplier" method="post">

<label for="name">name</label>
<input type="text" name="name" id="name">
<label for="active">active</label>
<input type="boolean" name="active" id="active">
<label for="location">location</label>
<input type="text" name="location" id="location">

<input type="submit" value="Create supplier">


</form>
