<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>comic Stock!!</title>
    <meta charset="utf-8">
  </head>
  <body>
    <nav>
      <ul>
        <li>
<a href="/inventory"></a>
        </li>
      <li>
<a href="/suppliers"></a>
      </li>
      </ul>
    </nav>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
