<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>comic Stock!!</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
<a href="/">Home</a>
        </li>
      <li>
<a href="/suppliers">Suppliers</a>
      </li>
      <li><a href="/comics">Comics</a></li>
      </ul>
    </nav>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
